.infoPanel {
    border: 1px solid $indigo-dark;
    border-radius: .25rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;

    &__description {
        font-size: .875rem;
        font-weight: 300;
    }

    &__content {
        display: flex;
    }

    &__description {
        flex: 2;
        padding-left: .5rem;
    }

    &__other {
        flex: 1;
        margin: 0 auto;
        padding: 0 .5rem;
    }
}